body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    font-weight: lighter;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.heading-style{
    color:orange;
}
.heading-decoration{
    border-left: 5px solid orange;
    padding-left: 3%;
}
p{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}
.paragraph-style{
    margin-bottom: 5%;
    margin-top: 5%;
}
.flaxible-container{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
.half-width{
    width: 50%;
}
.section-one-div{
    padding-left: 7%;
}
.half-width img{
    width: 80%;
    /* padding-left: 10%; */
    margin-left: 10%;
}
.btn-style{
    background-image: linear-gradient( 45deg, orange, salmon);
    color: white;
    font-weight: 700;
    padding: 2% 4%;
    text-decoration: none;
    border-radius: 10px;
}
.btn-style:hover{
    background-image: linear-gradient( 45deg, salmon,salmon);
    color: white;
    
}
.center-heading{
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}
.center-div-width{
    width: 33.33%;
    margin-bottom: 10%;
}
.center-div-width img{
    width: 50%;
} 
.center-area-decoration{
    margin-left: 20%;
    margin-right: 10%;
}
.center-area-background-l{
    background-color: rgba(245, 222, 179, 0.712);
    padding:3% 3%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px grey;
}
.center-area-background-2{
    background-color: rgba(220, 220, 220, 0.692);
    padding:3% 3%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px grey;
}
.section-three-header{
    font-size: 40px;
}
.section-banner-3{
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom top 150px, right 900px;
    background-size: 15%;
}
.section-banner-4{
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 15%;
}
.section-four-Image{
    border-radius: 20px;
}
.footer-style{
    background-color: rgb(16, 16, 49);
    height: 120px;
}
.footer-style h4{
    text-align: center;
    color: salmon;
    font-size: 25px;
    padding-top: 1%;
    font-family: cursive;
    font-weight: lighter;
}
.footer-style p{
    text-align: center;
    color: seashell;
    font-size: 15px;
}