body{
    font-family: 'Ubuntu', sans-serif;
    padding: 3%;
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    font-weight: lighter;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.heading-style{
    color:orange;
}
.heading-decoration{
    border-left: 5px solid orange;
    padding-left: 3%;
}
p{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    margin-bottom: 30px;
}
.flaxible-container{
    display: flex;
    margin-top: 2%;
    margin-bottom: 10%;
}
.half-width{
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;

}
.half-width img{
    width: 80%;
    padding-left: 35%;
}
.btn-style{
    background-image: linear-gradient( 45deg, orange, salmon);
    color: white;
    font-weight: 700;
    padding: 2% 4%;
    text-decoration: none;
    border-radius: 10px;
}
.center-heading{
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}
.center-div-width{
    width: 90%;
    margin-left: 2%;
}
.center-div-width img{
    width: 40%;
} 
.center-area-decoration{
    margin-left: 5%;
}
.center-area-background-l{
    background-color: rgba(245, 222, 179, 0.712);
    padding:1% 1%;
    border-radius: 15px;
}
.center-area-background-2{
    background-color: rgba(220, 220, 220, 0.692);
    padding:1% 1%;
    border-radius: 15px;
}